html {
    font-size: 16px;
    font-family: 'Special Elite', cursive;
    text-shadow: 0 0 10px white;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}

p {
    font-size: 15px;
    font-weight: bold;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.textareatransparent {
    font-size: 12px;
    background-color: transparent;
    color: lightblue;
}

.fieldsetmargin {
    margin: 5px;
}

