img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

body {
    background-color: blue;
}

#firstred {
    width: 100px; 
    z-index: 5;
    opacity: .5;
}

#secondblack {
    width: 200px;
    z-index: 4;
}

#thirdgreen {
    width: 300px;
    z-index: 3;
}

#fourthblack {
    width: 400px;
    z-index: 2;
}

#fifthred {
    width: 500px;
    opacity: .5;
    z-index: 1;
}

#sixthblack {
    width: 600px;
    z-index: 0;
}