p {
    text-transform: uppercase;
    padding: 5px;
  }
  
p#first  {
    background-color: goldenrod;
  }
  
p#second   {
    background-color: silver;
  }
  
p#third   {
    background-color: #CD7F32;
  }