body {
    background-color: turquoise;
}

a, a:link {
    color: blue;
}

a:visited {
    color:grey;
}

a:hover, a:active {
    color: green;
    font-weight: bold;
}

p:first-of-type::first-line {
    text-transform: uppercase;
    color: red;
}

p:nth-of-type(2)::first-line{
    background-color: pink;
}

img {
    border: 25px solid rgba(0,0,0,0);
}

img:hover {
    border: 25px solid orange;
}